@import 'https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    font-family: pt sans, sans-serif;
    overflow-x: hidden;
}

.container {
    padding: 0 15px;
    margin: 0 auto
}

@media(min-width:768px) {
    .container {
        width: 750px
    }
}

@media(min-width:992px) {
    .container {
        width: 970px
    }
}

@media(min-width:1200px) {
    .container {
        width: 1170px
    }
}

.preview-text {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 400px;
    background-color: #0f1013;
    padding: 0 15px
}

.preview-text::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    border: 50px solid transparent;
    border-top-color: #0f1013
}

.preview-text h1 {
    color: #fff;
    font-size: 80px;
    text-transform: capitalize;
    letter-spacing: -2px;
    margin-bottom: 20px;
    font-weight: bolder
}

.preview-text h1 span {
    color: crimson
}

.preview-text p {
    color: #eee;
    font-size: 18px;
    margin-bottom: 30px;
    text-align: center;
    font-weight: 800
}

.preview-text a {
    display: inline-block;
    padding: 8px 20px;
    color: crimson;
    font-size: 20px;
    border: 2px solid crimson;
    border-radius: 10px;
    text-decoration: none;
    transition: .5s ease
}

.preview-text a:hover {
    background-color: crimson;
    color: #fff
}

.demo-pages {
    padding-top: 70px;
    padding-bottom: 40px;
    background-color: #222
}

.demo-pages .container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between
}

@media(max-width:767px) {
    .demo-pages .container {
        flex-direction: column
    }
    .center-pt{
        position: relative; 
        left: 50%;
        transform: translateX(-50%);
    }
    .preview-text h1 {
        font-size: 50px;
    }
}

.demo-pages .container>div {
    flex-basis: calc(50% - 30px)
}

.demo-pages .container>div a {
    display: block;
    transition: .4s ease
}

.demo-pages .container>div a:hover {
    transform: translateY(-15px)
}

.demo-pages .container>div a p {
    transition: .4s ease
}

.demo-pages .container>div a:hover p {
    color: crimson
}

.demo-pages .container>div h2 {
    text-align: center;
    font-size: 30px;
    margin-bottom: 25px;
    color: crimson
}

.demo-pages .container>div a {
    display: block;
    text-decoration: none;
    margin-bottom: 30px
}

.demo-pages .container>div a .image {
    position: relative;
    width: 100%
}

.demo-pages .container>div.light-v a .image::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .3);
    border-radius: 10px
}

.demo-pages .container>div a img {
    display: block;
    width: 100%;
    box-shadow: 0 0 10px 1px #878787;
    border-radius: 10px
}

.demo-pages .container>div a p {
    position: relative;
    color: #fff;
    text-align: center;
    margin-top: 10px;
    font-size: 18px
}

.temp-info {
    background-color: #111;
    padding: 40px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column
}

.temp-info p {
    width: 100%;
    max-width: 600px;
    color: #fff;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    line-height: 1.8;
    margin-bottom: 25px
}

.temp-info a {
    display: inline-block;
    padding: 8px 20px;
    color: crimson;
    font-size: 20px;
    border: 2px solid crimson;
    border-radius: 10px;
    text-decoration: none;
    transition: .5s ease
}

.temp-info a:hover {
    background-color: crimson;
    color: #fff
}
.center-pt{
    position: relative;
    left: 50%;
}

html::-webkit-scrollbar {
    width: 8px
}

html::-webkit-scrollbar-track {
    background: #111
}

html::-webkit-scrollbar-thumb {
    background: crimson;
    border-radius: 5px
}

footer {
    background-color: #000;
    padding: 25px 10px
}

footer p {
    text-align: center;
    color: #ddd;
    font-size: 18px
}

footer p span {
    color: bbb
}

.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0f1013;
    z-index: 999999
}

.preloader .loader {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 20px;
    text-align: center;
    z-index: 999999
}

.preloader .loader p.text {
    font-size: 45px;
    font-weight: 700;
    color: #fff;
    text-align: center;
    margin-bottom: 12px
}

.preloader .loader p.text span {
    color: crimson
}

.preloader .loader .loading-bar {
    position: relative;
    width: 500px;
    max-width: 100%;
    height: 10px;
    background-color: #eee;
    overflow: hidden
}

.preloader .loader .loading-bar span {
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: crimson;
    animation: loading-bar 1.5s linear infinite
}

@keyframes loading-bar {
    from {
        left: -100%
    }

    to {
        left: 100%
    }
}